<h2><font color=blue>Desafío técnico Etermax </h2><br><h3><strong>Objetivo</strong> </h3><br>El objetivo del ejercicio es hacer un análisis del dataset y presentar insights y accionables que el candidato considere valiosos.<br>Autor: <strong>Rodolfo Pardo</strong></font>

---------

<h2>First step: Data Exploration</h2>

In [123]:
#Se importan las librerías necesarias para el estudio

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
sns.set(rc={'figure.figsize':(11.7,8.27)})

import warnings
warnings.filterwarnings('ignore')

In [124]:
#Se lee dataset 

juego = pd.read_csv('dataset.csv')

In [125]:
#Se conoce las dimensiones de nuestro dataset

print('Tenemos un dataset de {} filas con {} variables para analizar'.format(juego.shape[0], juego.shape[1]))

Tenemos un dataset de 20000 filas con 14 variables para analizar

In [126]:
#Se conocen los tipos de datasets presentes 

juego.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 20000 non-null  object
 1   install_time            20000 non-null  object
 2   platform                20000 non-null  object
 3   country_region          19521 non-null  object
 4   city                    19065 non-null  object
 5   gender                  20000 non-null  object
 6   min_age_range           20000 non-null  int64
 7   max_age_range           20000 non-null  int64
 8   event_1                 20000 non-null  int64
 9   event_2                 20000 non-null  int64
 10  event_3                 20000 non-null  int64
 11  event_4                 20000 non-null  int64
 12  event_5                 20000 non-null  int64
 13  target_churn_indicator  20000 non-null  int64
dtypes: int64(8), object(6)
memory usage: 2.1+ MB

<p>Podemos observar un <strong>dataset</strong> que contiene columnas con tipos de datos <strong><font color=red>incorrectos</font></strong> tales como install_time

In [127]:
#Estadistica descriptiva de las principales variables cuantitativas del dataset

juego.describe()

,min_age_range,max_age_range,event_1,event_2,event_3,event_4,event_5,target_churn_indicator
count,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000
mean,16.145300,18.884050,13.751700,18.80975,0.526850,4.341200,4.452500,0.540700
std,2.420017,1.450452,19.041115,26.93790,1.245695,4.218456,4.506946,0.498353
min,13.000000,13.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,13.000000,17.000000,2.000000,3.00000,0.000000,1.000000,2.000000,0.000000
50%,18.000000,20.000000,6.000000,9.00000,0.000000,3.000000,3.000000,1.000000
75%,18.000000,20.000000,18.000000,24.00000,1.000000,6.000000,6.000000,1.000000
max,21.000000,20.000000,218.000000,437.00000,20.000000,56.000000,64.000000,1.000000

<p>A simple vista, podemos observar que los datos de las variables <strong>min_age_range</strong> y <strong>max_age_range</strong> se concentran entre los 16 y 21 con desviaciones standar mínimas. <br>
<p>No así en los <strong>eventos</strong>, que podemos observar algunos valores outliers que vamos a poder estudiar y visualizar en gráficos de caja <p>

In [128]:
#Observamos el nombre de las columnas 

juego.columns

Index(['user_id', 'install_time', 'platform', 'country_region', 'city',
       'gender', 'min_age_range', 'max_age_range', 'event_1', 'event_2',
       'event_3', 'event_4', 'event_5', 'target_churn_indicator'],
      dtype='object')

In [129]:
#Encontrar valores nulos 

juego.isnull().sum()

user_id                     0
install_time                0
platform                    0
country_region            479
city                      935
gender                      0
min_age_range               0
max_age_range               0
event_1                     0
event_2                     0
event_3                     0
event_4                     0
event_5                     0
target_churn_indicator      0
dtype: int64

In [130]:
#Encontrando porcentajes de valores nulos 

juego.isnull().sum()/len(juego.index)

user_id                   0.00000
install_time              0.00000
platform                  0.00000
country_region            0.02395
city                      0.04675
gender                    0.00000
min_age_range             0.00000
max_age_range             0.00000
event_1                   0.00000
event_2                   0.00000
event_3                   0.00000
event_4                   0.00000
event_5                   0.00000
target_churn_indicator    0.00000
dtype: float64

<p>Se observa dos columnas con presencia de valores nulos:
<ol>
    <li><strong>country_region:</strong> 2,3% de sus valores son nulos</li>
    <li><strong>city:</strong> 4,6% de sus valores son nulos</li>
</ol>
<p><strong>Las dos columnas son de geolocalización del jugador y sus valores nulos no resultan significantes ante la muestra por lo que no vamos a eliminar</strong></p>

In [131]:
#Presencia de valores duplicados

print("Valores duplicados en nuestro dataset: {}".format(juego.duplicated(subset=None, keep=False).sum()))

Valores duplicados en nuestro dataset: 0

In [132]:
#Visualización de primeros valores en el dataset

juego.head()

,user_id,install_time,platform,country_region,city,gender,min_age_range,max_age_range,event_1,event_2,event_3,event_4,event_5,target_churn_indicator
0,2ba6f357,2018-07-04 19:24:24,Android,Santa Cruz,Río Gallegos,male,13,17,1,2,0,1,1,0
1,3cb936c1,2018-06-30 13:41:29,Android,Corrientes,Corrientes,male,13,17,0,7,0,3,0,1
2,17d88bbc,2018-06-30 16:02:30,Android,Cordoba,Villa Carlos Paz,female,18,20,2,1,0,2,2,1
3,7baa10b6,2018-07-02 21:08:33,Android,Buenos Aires,Don Torcuato,female,13,17,5,6,0,2,5,0
4,120d379,2018-07-07 04:18:47,Android,Santiago del Estero,Santiago del Estero,female,13,17,8,12,0,2,3,0

In [133]:
#Visualización de los últimos valores en el dataset

juego.tail()

,user_id,install_time,platform,country_region,city,gender,min_age_range,max_age_range,event_1,event_2,event_3,event_4,event_5,target_churn_indicator
19995,554e1347,2018-07-07 02:19:19,Android,Santa Fe,Aaron Castellanos,female,18,20,23,54,2,9,3,0
19996,795f035e,2018-07-05 18:49:59,Android,Santa Cruz,Caleta Olivia,male,18,20,37,45,1,6,6,0
19997,52acf7f9,2018-07-05 03:22:13,Android,Salta,Salta,female,13,17,3,4,0,1,3,1
19998,1674efa,2018-07-07 05:22:36,Android,Buenos Aires,Florencio Varela,male,13,17,54,62,2,17,14,0
19999,fb832bfb,2018-07-02 03:56:24,Android,Santiago del Estero,Santiago del Estero,female,13,17,20,20,1,6,7,0

----------

<h2>Second step: Data Cleaning</h2>

<h5>Columna user_id</h5>

In [134]:
print("User id únicos: {}".format(juego.user_id.nunique()))

User id únicos: 18533

In [135]:
print("User id totales en dataset: {}".format(juego.user_id.count()))

User id totales en dataset: 20000

<h5>Columna install_time</h5>

In [136]:
#Tipo de columna

juego.install_time.dtype

dtype('O')

In [137]:
#Estamos cambiando la info de objetc a datetime como corresponde

juego['install_time'] = pd.to_datetime(juego['install_time'], format = "%Y-%m-%d %H:%M:%S")

In [138]:
#Chequeamos que esté bien 

if juego['install_time'].dtype == "<M8[ns]":
    print('Cambio ejecutado ok')
else:
    print('Cambio no ejecutado. Revisar código')

Cambio ejecutado ok

In [139]:
#Se procede a crear columnas para poder estudiar de forma posterior meses y horas del dataset

juego['month'] = pd.DatetimeIndex(juego['install_time']).month
juego['hour'] = pd.DatetimeIndex(juego['install_time']).hour

In [140]:
#Chequeamos que se produzcan los datos 

juego.info()

#A estas columnas las dejo como entero por ser de mi interes que queden asi

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 20000 non-null  object
 1   install_time            20000 non-null  datetime64[ns]
 2   platform                20000 non-null  object
 3   country_region          19521 non-null  object
 4   city                    19065 non-null  object
 5   gender                  20000 non-null  object
 6   min_age_range           20000 non-null  int64
 7   max_age_range           20000 non-null  int64
 8   event_1                 20000 non-null  int64
 9   event_2                 20000 non-null  int64
 10  event_3                 20000 non-null  int64
 11  event_4                 20000 non-null  int64
 12  event_5                 20000 non-null  int64
 13  target_churn_indicator  20000 non-null  int64
 14  month                   20000 non-null  int64
 15  hour                    20000 non-null  int64
dtypes: datetime64[ns](1), int64(10), object(5)
memory usage: 2.4+ MB

<h5>Columna platform </h5>

In [141]:
juego.platform.value_counts()

Android    19512
iOS          488
Name: platform, dtype: int64

<p>No se observan problemas de nomenclatura, hay dos categorías correctamente identificables para su analisis</p>

<h5>Columna Country Region</h5>

In [142]:
juego.country_region.value_counts()

Buenos Aires           6831
Buenos Aires F.D.      3115
Cordoba                1898
Entre Rios             1138
Santa Fe                884
Tucuman                 782
Mendoza                 686
Salta                   684
Chaco                   391
Misiones                355
Corrientes              331
Neuquen                 259
Santiago del Estero     234
San Luis                234
Formosa                 212
La Rioja                208
Rio Negro               207
San Juan                200
Jujuy                   189
Chubut                  180
La Pampa                164
Catamarca               140
Santa Cruz              103
Tierra del Fuego         70
Entre Ríos Province      15
Neuquén Province          2
Santa Fe Province         2
Cordoba Province          2
Río Negro Province        1
Chubut Province           1
Chaco Province            1
Salta Province            1
Tucumán Province          1
Name: country_region, dtype: int64

In [120]:
#Funcion a utilizar posteriormente

def reemplaza_variables(x,y,z):
    juego[x] = juego[x].str.replace(y, z)

In [143]:
#Se corrigen errores en cuanto a la nomenclatura de distintos datos para unificar y poder analizar luego correctamente

reemplaza_variables('country_region', 'Buenos Aires F.D.', 'CABA')
reemplaza_variables('country_region', 'Entre Ríos Province', 'Entre Rios')
reemplaza_variables('country_region', 'Neuquén Province', 'Neuquen')
reemplaza_variables('country_region', 'Santa Fe Province', 'Santa Fe')
reemplaza_variables('country_region', 'Cordoba Province', 'Cordoba')
reemplaza_variables('country_region', 'Río Negro Province', 'Rio Negro')
reemplaza_variables('country_region', 'Chubut Province', 'Chubut')
reemplaza_variables('country_region', 'Chaco Province', 'Chaco')
reemplaza_variables('country_region', 'Salta Province', 'Salta')
reemplaza_variables('country_region', 'Tucumán Province', 'Tucuman')

In [146]:
juego.country_region.value_counts().count()

24

<p><strong>24</strong> son las provincias a analizar en el país por lo que estaríamos en el número correcto para el análisis</p>

<h5>Columna city</h5>

In [151]:
juego.city.value_counts()

Buenos Aires              2626
Córdoba                   1188
Villa Angelica             751
San Miguel de Tucumán      675
Salta                      597
                          ...
Rosario de la Frontera       1
Arroyo Algodon               1
Villa Rio Bermejito          1
General La Madrid            1
Buchardo                     1
Name: city, Length: 772, dtype: int64

<p>En esta columna se observa la nomenclatura de las ciudades de forma correcta, por lo que se decide continuar con la siguiente<p>

<h5>Columna género</h5>

In [152]:
juego.gender.value_counts()

female     10835
male        8992
unknown      173
Name: gender, dtype: int64

<p>En esta columna, los denominados <strong>unknown</strong> son aceptables aunque también podrían ser considerados como valores nulos en un análisis estricto de la información. En este proyecto <strong> no lo vamos a considerar como valores nulos </strong>

### En columnas numéricas de nuestro dataset mostradas a continuación, no se observan anomalías o presencia de valores extraños que no sean los deseables en la muestra

In [153]:
juego.min_age_range.value_counts()

18    12546
13     7430
21       17
20        4
17        3
Name: min_age_range, dtype: int64

In [154]:
juego.max_age_range.value_counts()

20    12561
17     7436
18        2
13        1
Name: max_age_range, dtype: int64

In [155]:
juego.event_1.value_counts()

1      1936
3      1857
2      1797
0      1470
4      1252
       ...
165       1
133       1
164       1
179       1
135       1
Name: event_1, Length: 161, dtype: int64

In [156]:
juego.event_2.value_counts()

0      1633
1      1392
2      1298
3      1291
4      1043
       ...
214       1
278       1
223       1
247       1
183       1
Name: event_2, Length: 216, dtype: int64

In [157]:
juego.event_3.value_counts()

0     14918
1      2646
2      1144
3       583
4       315
5       161
6        92
7        53
8        39
9        16
10        9
12        9
11        6
20        2
13        2
14        1
18        1
17        1
16        1
15        1
Name: event_3, dtype: int64

In [158]:
juego.event_5.value_counts()

3     3370
2     3171
1     3154
4     2135
5     1491
0     1443
6     1138
7      857
8      646
9      496
10     379
11     305
12     249
13     197
14     177
16     137
15     121
18      79
17      79
19      73
20      50
21      35
24      32
23      31
22      31
26      26
25      17
27      16
28      13
30      10
32       7
29       5
38       4
31       4
35       3
36       2
39       2
33       2
42       2
48       2
43       2
51       1
50       1
34       1
40       1
64       1
46       1
47       1
Name: event_5, dtype: int64

In [159]:
juego.target_churn_indicator.value_counts()

1    10814
0     9186
Name: target_churn_indicator, dtype: int64

------

<h2>Data Insights</h2>

In [160]:
juego.head()

,user_id,install_time,platform,country_region,city,gender,min_age_range,max_age_range,event_1,event_2,event_3,event_4,event_5,target_churn_indicator,month,hour
0,2ba6f357,2018-07-04 19:24:24,Android,Santa Cruz,Río Gallegos,male,13,17,1,2,0,1,1,0,7,19
1,3cb936c1,2018-06-30 13:41:29,Android,Corrientes,Corrientes,male,13,17,0,7,0,3,0,1,6,13
2,17d88bbc,2018-06-30 16:02:30,Android,Cordoba,Villa Carlos Paz,female,18,20,2,1,0,2,2,1,6,16
3,7baa10b6,2018-07-02 21:08:33,Android,Buenos Aires,Don Torcuato,female,13,17,5,6,0,2,5,0,7,21
4,120d379,2018-07-07 04:18:47,Android,Santiago del Estero,Santiago del Estero,female,13,17,8,12,0,2,3,0,7,4

In [167]:
juego.tail()

,user_id,install_time,platform,country_region,city,gender,min_age_range,max_age_range,event_1,event_2,event_3,event_4,event_5,target_churn_indicator,month,hour
19995,554e1347,2018-07-07 02:19:19,Android,Santa Fe,Aaron Castellanos,female,18,20,23,54,2,9,3,0,7,2
19996,795f035e,2018-07-05 18:49:59,Android,Santa Cruz,Caleta Olivia,male,18,20,37,45,1,6,6,0,7,18
19997,52acf7f9,2018-07-05 03:22:13,Android,Salta,Salta,female,13,17,3,4,0,1,3,1,7,3
19998,1674efa,2018-07-07 05:22:36,Android,Buenos Aires,Florencio Varela,male,13,17,54,62,2,17,14,0,7,5
19999,fb832bfb,2018-07-02 03:56:24,Android,Santiago del Estero,Santiago del Estero,female,13,17,20,20,1,6,7,0,7,3